body,
margin {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font: 14px "Century Gothic", Futura, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul {
    padding-left: 30px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 15vh;
    height: 15vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10vh;
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.game-info {
    margin-left: 20px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.button {
    background: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    border: 3px solid #bdc3c7;
    margin: 10px 0 0 5px;
    color: #2c3e50;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.1s;
}
.input {
    border-radius: 0;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 3px solid #bdc3c7;
    margin: 10px 0 0 5px;
    color: #2c3e50;
    box-sizing: border-box;
}
.button:disabled,
.input :disabled {
    color: #eee;
    border-color: #eee;
}
h5, h3 {
    text-align: center;
}
#grid {
    display: flex;
    flex-direction: row;
}
.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 15vh;
    height: 15vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10vh;
}

.card {
    position: relative;
    height: 15vh;
    width: 10vh;
    /*background: #000;*/
    border: 1px solid #000;
    display: inline-block;
    vertical-align: top;
}

#cards {
    width: 75%;
    height: 100%;
}

#cards .card {
    margin: 10px;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

#cards .card h5 {
    margin: 0;
}

#cards .card img {
    width: 15px;
    height: 15px;
    margin: 5px;
    vertical-align: text-bottom;
}

#deck {
    width: 25%;
    float: right;
}

.deck-card img {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.attack {
    position: absolute;
    left: 0;
    top: 0;
    color: #0ff;
    font-size: 1em;
}

.defense {
    position: absolute;
    right: 0;
    top: 0;
    color: #ff0;
    font-size: 1em;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

